html,
/* * {
  outline: 1px solid greenyellow;
} */

body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  background-size: cover;
  background-color: rgb(15, 25, 47);
  background-repeat: no-repeat;
}

#preloader {
  background: black url(loader.gif) no-repeat center;
  background-size: 30%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
}
#fullscreenVideo {
  background: black;
  background-size: 30%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

/* Nav bar */
.header {
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: fit-content;
  background-color: rgb(3, 20, 38);
  padding: 0 2vw;
  z-index: 2;
}

.right {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1rem 0;
  gap: 0.5rem;
  align-items: center;
}

.introbutton {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "inter", sans-serif;
  line-height: 1.5;
  margin: 0%;
  display: flex;
}

.introbutton:hover {
  border-bottom: 2px solid #ccd6f6;
  cursor: pointer;
}

/* Main page */
.mainpage {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
  padding-top: 30vh;
  padding-left: 13vw;
  padding-bottom: 15rem;
  width: fit-content;
  height: 100vh;
}

.greeting {
  color: #64ffda;
  position: relative;
  font-size: 2rem;
  line-height: 1.5;
  font-family: "inter", sans-serif;
}

.firstpagemaintext {
  color: #ccd6f6;
  font-size: 4rem;
  font-family: "inter", sans-serif;
  font-weight: 900;
  position: relative;
  line-height: 1.5;
}

.firstpagedescription {
  color: #8892b0;
  font-size: 3rem;
  font-family: "inter", sans-serif;
  font-weight: 700;
  position: relative;
  width: fit-content;
  line-height: 1.5;
  padding-bottom: 50;
  margin: 0;
}

.checkoutmywork {
  box-sizing: border-box;
  width: fit-content;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  border: 1px solid #64ffda;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  font-family: "inter", sans-serif;
  color: #64ffda;
  top: 20vh;
}

/* About me */
.aboutmepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 40vh;
  padding-left: 13vw;
  padding-bottom: 25rem;
  width: fit-content;
  height: 100vh;
}

.aboutme {
  color: rgba(204, 214, 246, 1);
  font-size: 2rem;
  font-weight: 900;
  font-family: "inter", sans-serif;
  line-height: 1.5;
  padding-right: 0.5rem;
  margin: 0%;
  display: flex;
}

.aboutmetext {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-right: 3rem;
}

.divider {
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.514);
  position: relative;
  margin-top: 1.5rem;
  width: 20rem;
}

.listoflanguages {
  color: rgba(136, 146, 176, 1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 20px;
  gap: 3rem;
}

.aboutmepicture {
  position: relative;
  margin-top: 0rem;
  border-radius: 1.5rem;
  margin: 1rem;
  width: 25rem;
  height: 25rem;
  background-color: rgb(21, 44, 77);
}

/* Achievements page */
.achievementspage {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
  padding-left: 13vw;
  padding-bottom: 10rem;
  padding-top: 10rem;
  width: 90%;
  height: fit-content;
}

.achievements {
  color: rgba(204, 214, 246, 1);
  font-size: 2rem;
  font-weight: 900;
  font-family: "inter", sans-serif;
  line-height: 1.5;
  padding-right: 0.5rem;
  display: flex;
  max-width: fit-content;
}

.achievementsbox {
  border-radius: 1.5rem;
  width: 20rem;
  height: 20rem;
  background-color: rgb(21, 44, 77);
  display: flex;
  margin: 1rem;
  flex-direction: column;
}

.achievementspicture {
  position: relative;
  width: 18rem;
  height: 13rem;
  border-radius: 0.5rem;
}

#aio2023 {
  height: 13rem;
  width: auto;
}

.achievementsboxtitle {
  color: #ccd6f6;
  position: relative;
  left: 1.5rem;
  font-weight: 900;
  font-size: 16px;
  width: fit-content;
  height: fit-content;
}

.achievementsboxdescription {
  color: #a8b2d1;
  position: relative;
  left: 1.5rem;
  font-weight: 300;
  font-size: 13px;
  width: fit-content;
  height: 2.4rem;
  padding-top: 0.6rem;
  margin-bottom: 1rem;
}

.image-container {
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
}

.overlay {
  position: absolute;
  border-radius: 0.5rem;
  width: 18rem;
  height: 13rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.overlay a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.overlay a:hover {
  background-color: #fff;
  color: #000;
}

.image-container:hover {
  transform: scale(1.01);
  transition: 0.5s;
}

.image-container:hover .overlay {
  opacity: 1;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.fullscreen:target {
  opacity: 1;
  visibility: visible;
}

.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.close:hover {
  text-decoration: underline;
}

/* Timeline */
.timeline-container {
  width: 100%;
  height: fit-content;
  position: relative;
  overflow: scroll;
  padding: 1rem;
}

.timeline-line {
  height: 5px;
  width: 300rem;
  background-color: #ffffff;
  position: relative;
}

.timeline-year {
  height: fit-content;
  width: fit-content;
  color: #ffffff;
  background-color: rgb(15, 25, 47);
  position: absolute;
  top: -1.4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 900;
}

.timeline-year:nth-child(1) {
  left: 0%;
}

.timeline-year:nth-child(2) {
  left: 25%;
}

.timeline-year:nth-child(3) {
  left: 50%;
}

.timeline-year:nth-child(4) {
  left: 75%;
}

.timelineline {
  position: relative;
  width: 0.3rem;
  height: 3rem;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -0.1rem;
}

.timelinebox {
  position: relative;
  border-radius: 1.5rem;
  width: 17rem;
  background-color: rgb(21, 44, 77);
  margin-left: auto;
  margin-right: auto;
}
.timelineboxtitle {
  flex-wrap: wrap;
  color: #ccd6f6;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  font-weight: 900;
  font-size: 1.8rem;
  width: 100%;
  height: fit-content;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: #ffffff;
  margin-bottom: -0.1rem;
  z-index: 999;
}
/* Projects page */
.projectspage {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
  padding-left: 13vw;
  padding-bottom: 10rem;
  width: fit-content;
  height: fit-content;
  gap: 4rem;
  padding-top: 10rem;
}

.project {
  display: flex;
  flex-direction: row;
}

#projectdescriptionsection {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.5rem;
}

#projectyear {
  color: rgb(150, 239, 136);
  margin-left: 2rem;
  font-size: 16px;
}

#projectnamesection {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  gap: 0.5rem;
}

#projectname {
  color: rgba(204, 214, 246, 1);
  margin-left: 2rem;
  font-size: 22px;
}

#projectdescription {
  color: white;
  text-align: left;
  margin-left: 2rem;
  font-size: 20px;
  height: 50%;
}

.projectpicture {
  position: relative;
  width: 50%;
  height: 50%;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1000px) {
  .project {
    flex-direction: column;
    align-items: center;
  }
  .projectpicture {
    width: 95%;
    padding-bottom: 1rem;
    margin-top: 1rem;
  }
  #projectdescriptionsection {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }

  .projectpicture {
    order: 1;
  }
}

.servicepicture {
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
/* Contacts */
.contactbox {
  display: flex;
  position: relative;
  height: 10%;
  width: 100%;
  background-color: #000;
  align-items: center;
  justify-content: space-evenly;
}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
